adjusttext==0.8
appnope==0.1.0
bs4==0.0.1
datasets==2.3.2
findspark==1.3.0
ipython-genutils==0.2.0
jupyter-console==6.4.0
lxml==4.9.1
matplotlib==3.5.2
mergedeep==1.3.4
mistune==2.0.4
nltk==3.6.6
nmslib==2.1.1
plotly==4.14.3
prometheus-client==0.11.0
py4j==0.10.9.7
pysolr==3.9.0
qtconsole==5.1.1
retrying==1.3.3
spacy==3.4.4
sentence-transformers==2.2.2
spacy-experimental==0.6.1
transformers==4.26.0
mizani==0.9.2.
plotnine==0.10.1
