appnope==0.1.0
findspark==1.3.0
ipython-genutils==0.2.0
jupyter-console==6.4.0
lxml==4.6.5
mergedeep==1.3.4
mistune==0.8.4
nltk==3.6.5
nmslib==2.1.1
plotly==4.14.3
plotnine==0.8.0
prometheus-client==0.11.0
pysolr==3.9.0
qtconsole==5.1.1
retrying==1.3.3
sentence-transformers==1.1.0
spacy==2.3.7
#tensorflow==2.2.0
#terminado==0.8.2
transformers==4.5.1
